<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <a class="site-logo" href="index.html"><img src="assets/myresources/logos/HML-Logo-red.png" alt="HumachLab"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
            <ul>
                <li class="dropdown-toggle">
                    <a href="index.html">Home</a>
                </li>

                <li class="dropdown dropdown-megamenu">
                    <a class="dropdown-toggle" href="services.html">Services</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="header-navigation-content">
                                <div class="row">
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>Research</h4>
                                        <ul>
                                            <li><a href="services.html?type=research&id=ai">Artificial Intelligence (AI)</a></li>
                                            <li><a href="services.html?type=research&id=ml">Machine Learning (ML)</a></li>
                                            <li><a href="services.html?type=research&id=dl">Deep Learning (DL)</a></li>
                                            <li><a href="services.html?type=research&id=genai">Generative AI (GenAI)</a></li>
                                            <li><a href="services.html?type=research&id=agai">Agentic AI (AgAI)</a></li>
                                            <li><a href="services.html?type=research&id=hi">Health Informatics</a></li>
                                            <li><a href="services.html?type=research&id=sp">Signal Processing</a></li>
                                            <li><a href="services.html?type=research&id=ss">System Security</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>Education</h4>
                                        <ul>
                                            <li><a href="services.html?type=education&id=crs">Course</a></li>
                                            <li><a href="services.html?type=education&id=trn">Training</a></li>
                                            <li><a href="services.html?type=education&id=oos">One-to-one Session</a></li>
                                            <li><a href="services.html?type=education&id=int">Internship</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>Development</h4>
                                        <ul>
                                            <li><a href="services.html?type=development&id=aisol">AI Solution</a></li>
                                            <li><a href="services.html?type=development&id=bussol">Business Solution</a></li>
                                            <li><a href="services.html?type=development&id=web">Web</a></li>
                                            <li><a href="services.html?type=development&id=app2ios">Apple Application (iOS)</a></li>
                                            <li><a href="services.html?type=development&id=and">Android</a></li>
                                            <li><a href="services.html?type=development&id=clip">Image Clipping</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-target="#" href="index.html">About Us</a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">About HumachLab</a></li>
                        <li><a href="index.html">Portfolio</a></li>
                        <li><a href="index.html">Teams</a></li>
                    </ul>
                </li>

                <li class="dropdown-toggle">
                    <a class="dropdown-toggle" data-target="#" href="news.html">News</a>
                </li>

                <li class="dropdown-toggle">
                    <a class="dropdown-toggle" data-target="#" href="contact.html">Contact</a>
                </li>

                <!-- BEGIN TOP SEARCH -->
                <li class="menu-search">
                    <span class="sep"></span>
                    <i class="fa fa-search search-btn"></i>
                    <div class="search-box">
                        <form action="form_search" method="POST" role="form" class="content-search-view2">
                            <div class="input-group">
                                <input type="text" name="search_query" placeholder="Search" class="form-control" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
<!-- Header END -->